evening-sf-def.json
{"Comment": "SureBet Evening Pipeline \u2014 20:00 UTC. Fetches Sporting Life fast-results first, then Betfair results, updates DynamoDB, sends loss/performance report.", "StartAt": "InjectDate", "States": {"InjectDate": {"Type": "Pass", "Parameters": {"date.$": "States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0)"}, "Next": "FetchSLResults"}, "FetchSLResults": {"Comment": "PRIMARY results source \u2014 Sporting Life fast-results page. Updates as soon as horses are weighed in, ahead of Betfair settlement.", "Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "arn:aws:lambda:eu-west-1:813281204422:function:surebet-sl-results", "Payload.$": "$"}, "ResultSelector": {"date.$": "$.Payload.date", "results_recorded.$": "$.Payload.results_recorded", "winners.$": "$.Payload.winners", "success.$": "$.Payload.success"}, "ResultPath": "$.slResultsResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "UpdateFavResults", "ResultPath": "$.slResultsError", "Comment": "If SL scrape fails, still run fav-results step"}], "Next": "UpdateFavResults"}, "UpdateFavResults": {"Comment": "Write fav_outcome (win/loss) to each race favourite's DynamoDB row so the Lay-the-Fav cards show results.", "Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "arn:aws:lambda:eu-west-1:813281204422:function:surebet-fav-results", "Payload.$": "$"}, "ResultSelector": {"races_processed.$": "$.Payload.races_processed", "favs_updated.$": "$.Payload.favs_updated", "success.$": "$.Payload.success"}, "ResultPath": "$.favResultsResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "FetchResults", "ResultPath": "$.favResultsError", "Comment": "Non-fatal \u2014 always continue to Betfair results even if fav-results fails"}], "Next": "FetchResults"}, "FetchResults": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "arn:aws:lambda:eu-west-1:813281204422:function:surebet-results-fetch", "Payload.$": "$"}, "ResultSelector": {"date.$": "$.Payload.date", "results_recorded.$": "$.Payload.results_recorded", "winners.$": "$.Payload.winners", "success.$": "$.Payload.success"}, "ResultPath": "$.resultsResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ApplyLearning", "ResultPath": "$.resultsError", "Comment": "Even if results fetch fails, still apply learning and send report"}], "Next": "ApplyLearning"}, "ApplyLearning": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "PLACEHOLDER_BettingPicksAPI", "Payload": {"rawPath": "/api/learning/apply", "requestContext": {"http": {"method": "POST"}}, "headers": {"content-type": "application/json"}, "date.$": "$.date"}}, "ResultSelector": {"applied.$": "$.Payload.statusCode"}, "ResultPath": "$.learningResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SendLossReport", "ResultPath": "$.learningError", "Comment": "Non-fatal \u2014 continue to loss report even if learning fails"}], "Next": "SendLossReport"}, "SendLossReport": {"Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "arn:aws:lambda:eu-west-1:813281204422:function:surebet-loss-report", "Payload": {"date.$": "$.date", "results_recorded.$": "$.resultsResult.results_recorded", "winners.$": "$.resultsResult.winners"}}, "ResultSelector": {"email_sent.$": "$.Payload.email_sent", "picks.$": "$.Payload.picks", "wins.$": "$.Payload.wins", "losses.$": "$.Payload.losses"}, "ResultPath": "$.reportResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "CacheROI", "ResultPath": "$.reportError", "Comment": "Report failure doesn't block ROI cache"}], "Next": "CacheROI"}, "CacheROI": {"Comment": "Pre-calculate and cache cumulative ROI \u2014 allows screens to load instantly", "Type": "Task", "Resource": "arn:aws:states:::lambda:invoke", "Parameters": {"FunctionName": "arn:aws:lambda:eu-west-1:813281204422:function:surebet-cache-roi", "Payload.$": "$"}, "ResultSelector": {"cached_roi.$": "$.Payload.cached_roi", "success.$": "$.Payload.success"}, "ResultPath": "$.cacheROIResult", "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 30, "MaxAttempts": 1, "BackoffRate": 2.0}], "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "EveningComplete", "ResultPath": "$.cacheError", "Comment": "Non-fatal \u2014 API will calculate on-demand if cache fails"}], "Next": "EveningComplete"}, "EveningComplete": {"Type": "Succeed"}}}
